<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
 
    <link href="../F/F.css" rel="stylesheet" />
    <link href="../res/css/common.css" rel="stylesheet" />
 
    <style>
        .mysimpleform .f-field {
            margin-bottom: 0 !important;
        }
    </style>
 
</head>
<body>
    <div id="wrap1"></div>
    <br />
    下面使用 Column 布局实现相同的效果：
    <div id="wrap2"></div>
    <br />
    注：自定义 CSS 去除表单字段底部外边距。
 
 
    <script src="../F/F.js"></script>
    <script src="../res/js/common.js"></script>
    <script>
        F.ready(function () {
 
            F.ui({
                type: 'panel', renderTo: '#wrap1', width: 850, height: 350, bodyPadding: 5, collapsible: true, title: '面板（layout=hbox）',
                layout: {
                    childMargin: '0 0 5 0', type: 'vbox'
                },
                items: [{
                    type: 'form', id: 'form1', cls: 'mysimpleform', layout: 'hbox', border: false, collapsible: true, header: false,
                    items: [{
                        type: 'label', value: '销毁统计时间段：'
                    }, {
                        type: 'datepicker', id: 'datepicker1', cls: 'marginr', width: 150, hideLabel: true, fieldLabel: '销毁统计开始时间', required: true, emptyText: '请选择开始日期', editable: false
                    }, {
                        type: 'datepicker', cls: 'marginr', width: 150, hideLabel: true, fieldLabel: '销毁统计结束时间', required: true, compareControl: 'datepicker1', compareOperator: '>', compareMessage: '结束日期应该大于开始日期', emptyText: '请选择结束日期', editable: false
                    }, {
                        type: 'button', cls: 'marginr', text: '重置起止时间',
                        handler: function () {
                            F.ui.form1.reset();
                        }
                    }, {
                        type: 'button', text: '查询', validateForm: 'form1',
                        handler: function () {
                            F.alert('表单验证通过！');
                        }
                    }]
                }, {
                    type: 'panel', margin: 0, flex: 1, header: false
                }]
            });
 
 
            F.ui({
                type: 'panel', renderTo: '#wrap2', width: 850, height: 350, bodyPadding: 5, collapsible: true, title: '面板（layout=column）',
                layout: {
                    childMargin: '0 0 5 0', type: 'vbox'
                },
                items: [{
                    type: 'form', id: 'form2', cls: 'mysimpleform', layout: 'column', border: false, collapsible: true, header: false,
                    items: [{
                        type: 'label', value: '销毁统计时间段：'
                    }, {
                        type: 'datepicker', id: 'datepicker3', cls: 'marginr', width: 150, hideLabel: true, fieldLabel: '销毁统计开始时间', required: true, emptyText: '请选择开始日期', editable: false
                    }, {
                        type: 'datepicker', cls: 'marginr', width: 150, hideLabel: true, fieldLabel: '销毁统计结束时间', required: true, compareControl: 'datepicker3', compareOperator: '>', compareMessage: '结束日期应该大于开始日期', emptyText: '请选择结束日期', editable: false
                    }, {
                        type: 'button', cls: 'marginr', text: '重置起止时间',
                        handler: function () {
                            F.ui.form2.reset();
                        }
                    }, {
                        type: 'button', text: '查询', validateForm: 'form2',
                        handler: function () {
                            F.alert('表单验证通过！');
                        }
                    }]
                }, {
                    type: 'panel', margin: 0, flex: 1, header: false
                }]
            });
 
 
 
 
 
        });
    </script>
</body>
</html>